<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Rewards</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
<header class="primary-header container group">
    <h1 class="logo">
        <a href="index"
        >Amazing <br />
            Restaurant</a
        >
    </h1>
    <nav class="nav primary-nav">
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="/products">Menu</a></li>

            <li><a href="/users">Rewards</a></li>

            <li><a href="/register">Log in / Sign up</a></li>
        </ul>
    </nav>
</header>

<section class="hero container">
    <h2>Get rewards from every dollar spent</h2>

    <a class="btn btn-alt" href="/register">Create your account</a>
</section>

<section class="row">
    <div class="grid">
        <section class="steps col-1-3">
            <h5>Step 1</h5>
            <img src="/img/undraw_hamburger_re_7sfy.svg" alt="" />
            <h3>Order your food</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex
                laudantium autem perferendis accusantium mollitia totam voluptatem
                esse numquam repellendus dolorum?
            </p>
        </section>

        <section class="steps col-1-3">
            <h5>Step 2</h5>
            <img src="/img/undraw_growing_re_olpi.svg" alt="" />
            <h3>See your points stack up on your account</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, modi
                laboriosam eaque minima suscipit beatae obcaecati libero ut expedita
                repellat?
            </p>
        </section>

        <section class="steps col-1-3">
            <h5>Step 3</h5>
            <img src="/img/undraw_gift_card_re_5dyy.svg" alt="" />
            <h3>Redeem your rewards</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Perferendis eum praesentium culpa repudiandae aliquam, nulla quod
                asperiores amet error deleniti?
            </p>
        </section>
    </div>
</section>

<footer class="primary-footer container group">
    <small>&copy; Amazing Restaurant</small>
    <nav class="nav">
        <ul>
            <li><a href="">Social media app</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
