<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script
            src="https://kit.fontawesome.com/e908656932.js"
            crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>
<body>
<header class="primary-header container group">
    <h1 class="logo">
        <a href="index"
        >Amazing <br />
            Restaurant</a
        >
    </h1>
    <nav class="nav primary-nav">
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="/products">Menu</a></li>

            <li><a href="/users">Rewards</a></li>

            <li><a href="/register">Log in / Sign up</a></li>
        </ul>
    </nav>
</header>
<section class="main">
    <i class="fa-solid fa-circle-user"></i>
    <h3>Log In</h3>

    <form
            method="post"
            role="form"
            th:action="@{/login}"
    >
        <label for="username"> Email Address </label>
        <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your Email"
                required
        />
        <label for="password"> Password </label>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your Password"
                required
        />


        <div>
            <button type="submit">Log In</button>
            <span>Not registered yet? <a th:href="@{/register}">Create an Account</a></span>

        </div>
    </form>
</section>
</body>
</html>
